
.dateCard {
	display: grid;
	grid-template-columns: 1fr 2fr 3fr 1fr;
	align-items: center;
	margin-right: 10px;
	border-bottom: 1px solid green;
}
.btn-remove {
	margin-left: auto;
	background: url(../../../assets/images/icon-delete.png) no-repeat, center;
  width: 25px;
  height: 25px;
  border: 1px solid;
  border-radius: 50%;
  outline: none;
  background-size: cover;
  cursor: pointer;
  padding: 10px;
}
