.container {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 50px;
}
.date {
  display: flex;
  border: 1px solid gray;
  padding: 50px;
  border-radius: 10px;
}
.range {
   margin-left: 50px;
   display: flex;
}
.btn-add {
  background: url(../src/assets/images/icon-add.png) no-repeat, center;
  width: 25px;
  height: 25px;
  border: 1px solid;
  border-radius: 50%;
  outline: none;
  background-size: cover;
  cursor: pointer;
  padding: 10px;
  margin-left: 50px;
}
